.wrapper{
	padding: 16px 16px;
}
.header {
	margin-bottom: 20px;
	display: flex;
	justify-content: space-between;
	align-items: center;
  }
  
  .form {
	display: grid;
	grid-template-columns: 1fr;
	gap: 16px;
	margin-top: 20px;
  }
.btns{
	display: flex;
	justify-content: space-between;
	gap: 16px;
}
.button{
	padding: 4px 16px;
}